<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">
	<description>PHP_CodeSniffer ruleset for Argon Modern WordPress theme.</description>

	<!-- Pass some flags to PHPCS:
		 p flag: Show progress of the run.
		 s flag: Show sniff codes in all reports.
		 v flag: Print processed files.
		 n flag: Do not print warnings.
	-->
	<arg value="psv"/>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Exclude the vendor directory. -->
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/.github/*</exclude-pattern>
	<exclude-pattern>/assets/*</exclude-pattern>

	<!-- Include the WordPress-Core standard. -->
	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra"/>

	<!-- Verify that the text_domain is set to the correct value. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="argon-modern"/>
		</properties>
	</rule>

	<!-- Allow for theme-specific exceptions if needed. -->
</ruleset>
